* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    width: 100%;
}
.utilisateur {
    font-size: 1.5rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #dde3e3;
}